* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background {
    background-color: #121212;

}
.top-head {
background: linear-gradient(to right, #ff8c00, #ccff00);
height: 50px;
align-items: center;
display: flex;
padding: 10px;
}

#all-btn, #song-btn, #podcast-btn {
    border-radius: 10px;
    padding: 2px;
    background-color: #343434;
    border: none;
    padding: 5px;
    color: azure;
}

#all-btn {
    margin-right: 10px;
    background-color: #343434;
    color: #ffffff;
}

#song-btn {
    margin-right: 10px;
}

#podcast-btn {
    margin-right: 10px;
    }

    .box1 {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        border: solid; 
        width: 110px;
        border-color: #00f7ff;
        border-radius: 6px;
        
    }

    .btn1, .btn2, .btn3 {
         border: none;
         border-radius: 20px;
         background: linear-gradient(to right, #ff0000, #2b00d9);
         padding: 5px;
         color: #f5f5f5;
         margin-top: 30px;
         margin-bottom: 10px;
         font-weight: bold;
    }

    .btn2 {
        margin-left: 10px;
    }

    .box2 {
   margin-top: 30px;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        border: solid; 
        width: 110px;
        border-color: #00f7ff;
        border-radius: 6px;
    }

    .btn3 {
        margin-left: 30px;
    }
    


    
    